<%-include("header")-%>

<h2>This is a about me page</h2>


<p>this is a about me page, where I have to write something about me.
     what I am doing, who I am, whhat are my interests, 
    everything necessary should be listed in the about me page.</p>

<%-include("footer")-%>